/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200&display=swap');

/* Global settings */
:root {
    --back-color: #E4FF3B;
    --text-color: #363B53;
    --subtext-color: #8F9096;
    --text-wh-color: #F4F5FC;
}  

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: #F4F5FC;  
    /* background-image: url("/src/images/background.png");
    background-attachment: fixed;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right; */
    /* background: 50% 50% fixed no-repeat url("/static/images/portfolio-bounar-background.png"); */

    font-family: 'Montserrat', sans-serif;
    color: var(--text-color);
}

.container {
    max-width: 1920px;
    margin: auto;
    position: relative;
} 
/* Global settings */

/* Navbar & Home page */
/* header {
    position: fixed;
    width: 100%;
    background-color: var(--text-wh-color);
    z-index: 9999;
} */

.section nav {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 30px 180px;
}

.section nav ul {
    list-style-type: none;
    display: flex;
}

.section nav ul li {
    margin: 0 30px;
    font-size: 18px;
    font-weight: 500;
}

.section nav ul li > a {
   color: var(--text-color);
   text-decoration: none;
}

.section nav ul li > a::after {
    display: block;
    content: "";
    margin-top: 3px;
    width: 0;
    height: 3px;
    background-color: var(--back-color);
    transition:  all .4s;
}

.section nav ul li:hover > a::after {
    width: 100%;
}

.section nav .logo {
    font-size: 40px;
    font-weight: 600;
}

.section nav .logo span {
    font-size: 70px;
    font-weight: 600;
    line-height: 0;
}

.section nav button {
    font-size: 18px;
    width: 130px;
    height: 50px;
    border: none;
    border-radius: 6px;
    background-color: var(--back-color);
    font-family: 'Montserrat', sans-serif;
}

.section nav .hamburger {
    display: none;
}

.section nav .menu_icon {
    display: none;
}

.section nav .close_icon {
    display: none;
}

.section main {
    padding: 100px 180px 0;
}

.section main .content-button {
    display: flex;
    margin-top: 50px;
}

.section main .content-button .video {
    display: flex;
    align-items: center;
}

.section main .text {
    font-size: 62px;
    max-width: 600px;
}

.section main .button-start {
    font-size: 18px;
    width: 160px;
    height: 50px;
    border: none;
    border-radius: 6px;
    background-color: var(--text-color);
    color: var(--text-wh-color);
    font-family: 'Montserrat', sans-serif;
    margin-right: 50px;
}

.section main .content-button .video img {
    margin-right: 20px;
}

.section main .content-button .video p {
    font-size: 18px;
    font-weight: 500;
}

.section main .kayak {
    position: absolute;
    top: 110px;
    right: calc(380px - 40px);
}

.section main .kayak img {
    position: fixed;
    height: 800px;
    width: auto;
}

.section main .wave {
    position: absolute;
    top: 160px;
    right: calc(180px * 2 + 40px);
}

.section main .start {
    position: absolute;
    top: 420px;
    right: calc(180px * 2.6);
}

.section main .content-info {
    margin: 130px 230px 70px 0;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.section main .content-info .info {
    margin: 20px;
}

.section main .content-info .info-title {
    font-size: 26px;
    font-weight: 500;
}

.section main .content-info .info-text {
    font-size: 18px;
    max-width: 330px;
    color: var(--subtext-color);
}
/* Navbar & Home page */

/* Training page*/
.section.training {
    margin-top: 150px;
    margin-bottom: 100px;
}

.section main .timer {
    position: absolute;
    top: calc(160px * 6);
    right: calc(180px * 2 + 40px);
}

.section main .medals {
    position: absolute;
    top: calc(420px * 3);
    right: calc(180px * 2.6);
}

.section.training main .content-info {
    margin: 240px 230px 70px 0;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.section.training main .button-start {
    margin-right: 0px;
    margin-top: 50px;
}
/* Training page */

/* Trip page */
.section.trip {
    margin-top: 150px;
    margin-bottom: 100px;
}

.section main .camera {
    position: absolute;
    top: calc(160px * 11.5);
    right: calc(180px * 2 + 40px);
}

.section main .heart {
    position: absolute;
    top: calc(435px * 5);
    right: calc(180px * 2.6);
}

.section.trip main .content-info {
    margin: 240px 230px 70px 0;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.section.trip main .button-start {
    margin-right: 0px;
    margin-top: 50px;
}
/* Trip page */

/* Responsive */
@media screen and (max-width: 1500px) {

/* Home page */
.section nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
}

.section nav ul li {
    margin: 0 20px;
    font-size: 16px;
    font-weight: 500;
}

.section nav .logo {
    font-size: 30px;
    font-weight: 600;
}

.section nav .logo span {
    font-size: 70px;
    font-weight: 600;
    line-height: 0;
}

.section main {
    padding: 100px 100px 0;
}

.section main .text {
    font-size: 56px;
    max-width: 600px;
}

.section main .kayak {
    position: absolute;
    top: 110px;
    right: calc((380px - 40px) - 80px);
}

.section main .kayak img {
    position: fixed;
    height: 800px;
    width: auto;
}

.section main .wave {
    position: absolute;
    top: 160px;
    right: calc((180px * 2 + 40px) - 120px);
    transform: scale(90%);
}

.section main .start {
    position: absolute;
    top: 420px;
    right: calc((180px * 2.6) - 120px);
    transform: scale(90%);
}
/* Home page */

/* Training page */
.section.training {
    margin-top: 150px;
    margin-bottom: 150px;
}

.section main .timer {
    position: absolute;
    top: calc(160px * 6);
    right: calc((180px * 2 + 40px) - 120px);
    transform: scale(90%);
}

.section main .medals {
    position: absolute;
    top: calc(420px * 3);
    right: calc((180px * 2.6) - 120px);
    transform: scale(90%);
}

/* Trip page */
.section.trip {
    margin-top: 150px;
    margin-bottom: 100px;
}

.section main .camera {
    position: absolute;
    top: calc(160px * 11.5);
    right: calc((180px * 2 + 40px) - 120px);
    transform: scale(90%);
}

.section main .heart {
    position: absolute;
    top: calc(435px * 5);
    right: calc((180px * 2.6) - 120px);
    transform: scale(90%);
}

.section.trip main .content-info {
    margin: 240px 230px 70px 0;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.section.trip main .button-start {
    margin-right: 0px;
    margin-top: 50px;
}

.section.trip main .text {
    font-size: 62px;
    max-width: 500px;
}
/* Trip page */
}

@media screen and (max-width: 1024px) {

/* Navbar & Home page */
.section nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px;
}

.section main {
    padding: 50px 50px 0;
}

.section main .text {
    font-size: 56px;
    max-width: 600px;
}

.section main .kayak {
    position: absolute;
    top: 110px;
    right: calc((380px - 40px) - 120px);
}

.section main .kayak img {
    position: fixed;
    height: 800px;
    width: auto;
}

.section main .wave {
    position: absolute;
    top: 160px;
    right: calc((180px * 2 + 40px) - 200px);
    transform: scale(90%);
}

.section main .start {
    position: absolute;
    top: 420px;
    right: calc((180px * 2.6) - 200px);
    transform: scale(90%);
}
/* Navbar & Home page */

/* Training page */
.section main .timer {
    position: absolute;
    top: calc(160px * 6);
    right: calc((180px * 2 + 40px) - 160px);
    transform: scale(90%);
}

.section main .medals {
    position: absolute;
    top: calc(420px * 3);
    right: calc((180px * 2.6) - 200px);
    transform: scale(90%);
}
/* Training page */

/* Trip page */
.section main .camera {
    right: calc((180px * 2 + 40px) - 160px);
    transform: scale(90%);
}

.section main .heart {
    right: calc((180px * 2.6) - 200px);
    transform: scale(90%);
}
/* Trip page */
}

@media screen and (max-width: 950px) {

/* Navbar & Home page */
.section nav .hamburger {
    display: block;
}

.section nav.open {
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    background-color: var(--text-color);
    height: 100vh;
}

.section nav .logo {
    font-size: 40px;
    font-weight: 600;
}

.section nav .menu {
    display: none;
}

.section nav .menu.open {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.section nav .logo.open {
    color: var(--back-color);
}

.section nav .menu ul {
    display: block;
    justify-content: center;
    text-align: center;
}

.section nav .menu ul li {
    font-size: 32px;
    margin: 60px 0;
    font-weight: 400;
}

.section nav .menu ul li > a {
    color: var(--text-wh-color);
}

.section nav button {
    display: none;
}

.section nav .menu_icon {
    display: block;
    line-height: 10px;
    cursor: pointer;
}

.section nav .menu_icon.close {
    display: none;
}

.section nav .close_icon.open {
    display: block;
    cursor: pointer;
}

.section main {
    padding: 30px 20px 0;
}

.section main .text {
    font-size: 56px;
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
}

.section main .kayak {
    position: absolute;
    top: 120px;
    right: 350px;
    transform: rotate(90deg);
}

.section main .kayak img {
    position: initial;
}

.section main .kayak.hide {
    display: none;
}

.section main .wave {
    display: none;
}

.section main .start {
    display: none;
}

.section main .content-button {
    display: flex;
    justify-content: space-around;
    margin: 320px 50px 0;
}

.section main .content-button .video {
    display: flex;
    align-items: center;
}

.section main .text {
    font-size: 62px;
    max-width: 600px;
}

.section main .button-start {
    font-size: 18px;
    width: 160px;
    height: 50px;
    border: none;
    border-radius: 6px;
    background-color: var(--text-color);
    color: var(--text-wh-color);
    font-family: 'Montserrat', sans-serif;
    margin-right: 50px;
}

.section main .content-button .video img {
    margin-right: 20px;
}

.section main .content-button .video p {
    font-size: 18px;
    font-weight: 500;
}

.section main .content-info {
    margin: 80px auto 0;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.section main .content-info .info {
    margin: 10px;
}

.section main .content-info .info-title {
    font-size: 26px;
    font-weight: 500;
}

.section main .content-info .info-text {
    font-size: 18px;
    max-width: 330px;
    color: var(--subtext-color);
}
/* Navbar & Home page */

/* Training page */
.section main .timer {
    display: none;
}

.section main .medals {
    display: none;
}

.section.training main .content-info {
    margin: 200px auto 70px 0;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
/* Training page */

/* Trip page */
.section.trip main .text {
    max-width: 600px;
}

.section main .camera {
    display: none;
}

.section main .heart {
    display: none;
}

.section.trip main .content-info {
    margin: 200px auto 70px 0;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
}
/* Trip page */

@media screen and (max-width: 550px) {

/* Navbar & Home page */
.section nav {
    padding: 10px 20px;
}

.section nav.open {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--text-color);
    height: 100vh;
}

.section nav .logo {
    font-size: 30px;
    font-weight: 600;
}

.section nav .menu ul li {
    font-size: 26px;
    margin: 50px 0;
    font-weight: 400;
}

.section nav .menu ul li > a {
    color: var(--text-wh-color);
}

.section nav .menu_icon {
    display: block;
    line-height: 0px;
    cursor: pointer;
}

.section nav .menu_icon img {
    width: 30px;
    height: auto;
}

.section nav .close_icon img {
    width: 30px;
    height: auto;
}

.section nav .menu_icon.close {
    display: none;
}

.section nav .close_icon.open {
    display: block;
    cursor: pointer;
}

.section main {
    padding: 50px 20px 0;
}

.section main .text {
    font-size: 36px;
    max-width: 500px;
    text-align: center;
    margin: 0 auto;
}

.section main .kayak {
    position: absolute;
    top: 0;
    right: 320px;
    transform: rotate(90deg);
}

.section main .content-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 380px 0 0;
}

.section main .button-start {
    font-size: 21px;
    width: 180px;
    height: 60px;
    border: none;
    border-radius: 6px;
    background-color: var(--text-color);
    color: var(--text-wh-color);
    font-family: 'Montserrat', sans-serif;
    margin-right: 0;
    margin-bottom: 40px;
}

.section main .content-button .video {
    display: flex;
    align-items: center;
}

.section main .content-button .video img {
    margin-right: 10px;
}

.section main .content-button .video p {
    font-size: 21px;
}

.section main .content-info {
    margin: 100px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.section main .content-info .info {
    margin: 20px;
}

.section main .content-info .info-text {
    margin: 0 auto;
}
/* Navbar & Home page */

/* Training page */
.section.training main .content-info {
    margin-top: 100px;
}

.section.training main .content-info .info {
    margin-bottom: 0;
}

.section.training main .button-start {
    margin-top: 30px;
    margin-bottom: 80px;
}
/* Training page */

/* Trip page */
.section.trip main .content-info {
    margin-top: 100px;
}

.section.trip main .content-info .info {
    margin-bottom: 0;
}

.section.trip main .button-start {
    margin-top: 30px;
    margin-bottom: 80px;
}
/* Trip page */
}
/* Responsive */
